<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630268510204-o8bki59hqogoq9mnl6rrh8b25cp2lgks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630268510204-o8bki59hqogoq9mnl6rrh8b25cp2lgks</string>
	<key>API_KEY</key>
	<string>AIzaSyComBqGw_Wqk4c0sOzPPzMPTQDUbaUUMCc</string>
	<key>GCM_SENDER_ID</key>
	<string>630268510204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noyancepikkurt.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-7ada2</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-7ada2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630268510204:ios:c5f9c67a36d29aa0917c79</string>
</dict>
</plist>